.idea/
.vscode/
/dist/
/build/
/logs/
/log/
/node_modules/
*.log
*.log*
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
pids
*.pid
*.seed
*.pid.lock
.npm
!.vscode/extensions.json
*.swp
*.swo
*.iws
*.iml
*.ipr
.DS_Store
.AppleDouble
.LSOverride

# 证书文件
*.pem
*.key
*.crt